@import url('http://fonts.cdnfonts.com/css/tt-norms-pro');

body {    
    display: flex;
    justify-content: center;
    font-family: 'TT Norms Pro';
    
}

.card-main {
    display: flex;
    justify-content: center;
}

.card-main {
    width: 100%;
    height: 390px;
    background-color: #FFA451;
    border-radius: 40px 40px 0px 0px;
    
}

.fruit-main {
    background-color: #FFA451;
    display: flex;      
    width: 300px;
    height: 369px;
    
    
}

.fruit-main {
    display: flex;
    margin-left: 30px;
    
}
.fruit {
    justify-content: center;
    align-items: center;
}

.text-main {
    width: 370px;
    height: 300px;
    background-color: white;
    border-radius: 0px 0px 40px 40px;
    

}

.title-main {
    text-align: center;
    margin-right: 40px;
    font-weight: 700;
    padding-top: 30px;
    padding-top: 40px;
    
}

.description {    
    letter-spacing: -0.01em;
    font-size: 16px; 
    text-align: center;   
    margin-right: 24px;
    font-weight: 400px;
    
}

.name-description {
    padding-top: 30px;
    text-align: start;
    margin-left: 30px;
}

.name {
    width: 280px;
    height: 34px;
    border: 2px;
    background-color: #F7F5F5;
    border-radius: 10px;
    margin-top: 11px;
    margin-left: 30px;
}

.btn {
    justify-content: center;    
    width: 240px;
    height: 40px;
    border: none;  
    background: #FFA451;
    border-radius: 10px;
    align-items: center; 
    margin: 30px;    
    color: white;
    margin-left: 60px;
    
}

@media (max-width: 320px) {
    .card-main{
        width: auto;
        height: 600px;
    }
    .fruit-main {        
        width: 200px;
        height: 200px;
        margin-left: 80px;
    }
    .text-main {
        width: 370px;
        height: 380px;
    }

    .name-description, .name {
        margin-left: 60px;
    }
    

    .btn {
        justify-content: center;
    }

}